@model List<Entities.ViewModels.DocumentViewModels.DocumentDisplayViewModel>
@{
    ViewData["Title"] = "DocumentPage";
     
}


<div class="d-flex justify-content-end">
    <a asp-action="Index" data-bs-toggle="tooltip" title="Back" style="color:black;" class="mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"></path>
        </svg>
    </a>
</div>
<div class="d-flex justify-content-between p-2 align-items-center"> 
    <h3 class="mt-2">Documents</h3>
    <a asp-action="TextEditor" asp-route-Teamid="@ViewBag.TeamId" asp-route-teamName="@ViewBag.TeamName" class="btn btn-secondary mt-1 rounded-pill" data-bs-toggle="tooltip" title="Add new Documnet" style="transition: all 0.2s ease-in-out; border-radius: 5px; scale:1.2!"><i class="bi bi-plus-circle"></i></a>
</div>

<div class="teamContainer">
    <div class="row">
        <div class="col">
            <div class="col d-flex justify-content-between align-items-center mb-3">
                <p class="teamName m-0">@ViewBag.TeamName</p>
            </div>

           @* wrapping it in the for loop *@
            @foreach (var item in Model)
            {
                <div class="bg-white p-4 rounded-3 mt-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>Title : @item.Title</div>
                        <div class="d-flex justify-content-center align-items-center gap-4">
                            <a class="fs-4 text-black" asp-action="EditDocument" asp-route-teamName="@ViewBag.TeamName" class="me-4" asp-route-DocumnentId="@item.DocId" data-bs-toggle="tooltip" title="Edit" style="text-decoration:none!important"><i class="bi bi-pencil-square"></i></a>
                            <a class="fs-4 text-black dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration:none!important">
                                <i class="bi bi-download"></i>
                            </a>


                            
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" data-flag="1"></a>Download Raw html</li>
                                <li><a class="dropdown-item" href="#" data-flag="2">Download Pdf</a></li>
                            </ul>

                            <script>
                                $(document).ready(function () {
                                    $('.dropdown-item').click(function (e) {
                                        e.preventDefault();
                                        var flag = $(this).data('flag');
                                        var url = '@Url.Action("GeneratePdf", "Document")';
                                        url += '?DocumentId=@item.DocId&flag=' + flag;
                                        window.location.href = url;
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/js/Document.js"></script>
