@using Entities.ViewModels.TeamManagement;

@model List<TeamManagementViewModel>

<div class="row">
    @if (Model != null)
    {
        foreach (var team in Model)
        {
            <div class="col-lg-6 col-12">
                <div class="teamContainer">
                    <div class="row">
                        <div class="col">
                            <div class="col d-flex justify-content-between align-items-center">
                                <p class="teamName m-0">@team.TeamName</p>
                                @if (team.Role == "TeamLeader")
                                {
                                    <div class="d-flex justify-content-start align-items-center">
                                        <button type="button" class="threeDotButton me-2"
                                    style="height: 30px;width: 30px;" onclick="OpenAddUserModal(@team.TeamId, '@team.TeamName')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                                     fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                                <path fill-rule="evenodd"
                                          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                            </svg>
                                        </button>
                                    </div>
                                }
                            </div>
                            <p class="m-0 mt-2 text-muted">Team Details</p>
                            <div class="allTasksContainer">
                                <div class="row">
                                    <div class="col">
                                        <div class="oneUserTasksContainer mt-3">
                                            <p class="text-muted">
                                                @team.TeamDescription
                                            </p>
                                            @if (team.TeamMembers.Count() != 0)
                                            {
                                                <p class="m-0 fs-5 mb-3">Team Members & their Reporting Person</p>
                                                @foreach (var teamMember in team.TeamMembers)
                                                {
                                                    if (teamMember.ReportingPersonUserId != null)
                                                    {
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="userListRow">
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <div class="userListRow d-flex justify-content-between align-items-center" style="margin: 0px;">
                                                                                <div class="d-flex justify-content-between align-items-center">
                                                                                    <img src="@teamMember.Avatar"
                                                                     class="teamMemberAvatar me-2" alt="" />
                                                                                    <p class="m-0">@teamMember.UserName</p>
                                                                                </div>
                                                                                @if (team.Role == "TeamLeader")
                                                                                {
                                                                                    <button class="removeButton" onclick="openRemoveUserModal('@teamMember.UserName',@teamMember.UserId, @team.TeamId)">
                                                                                        remove
                                                                                    </button>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div class="userListRow d-flex justify-content-between align-items-center" style="margin: 0px;background-color: #ffffff;">
                                                                                <div class="d-flex justify-content-between align-items-center">
                                                                                    <img src="@teamMember.ReportingPersonAvatar"
                                                                     class="teamMemberAvatar me-2" alt="" />
                                                                                    <p class="m-0">@teamMember.ReportingPersonUserName</p>
                                                                                </div>
                                                                                @if (team.Role == "TeamLeader")
                                                                                {
                                                                                    <button class="removeButton" onclick="removeReportingPerson(@teamMember.UserId, @teamMember.ReportingPersonUserId, @team.TeamId)">
                                                                                        remove
                                                                                    </button>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="userListRow d-flex justify-content-between align-items-center">
                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                        <img src="@teamMember.Avatar"
                                                         class="userAvatar me-2" alt="" />
                                                                        <p class="m-0">@teamMember.UserName</p>
                                                                    </div>
                                                                    @if (team.Role == "TeamLeader")
                                                                    {
                                                                        <div>
                                                                            <button class="removeButton me-2" onclick="openRemoveUserModal('@teamMember.UserName',@teamMember.UserId, @team.TeamId)">
                                                                                remove
                                                                            </button>
                                                                            <button class="reportingPersonButton" onclick="openModalForSetReportingPerson(@teamMember.UserId, @team.TeamId)">
                                                                                set R.P.
                                                                            </button>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>

                                        @if (team.JoinRequests.Count() != 0 && team.Role == "TeamLeader")
                                        {
                                            <div class="oneUserTasksContainer mt-3">
                                                <p class="m-0 fs-5 mb-3">Join Requests</p>
                                                @foreach (var joinReaquest in team.JoinRequests)
                                                {
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="userListRow d-flex justify-content-between align-items-center">
                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <img src="@joinReaquest.Avatar"
                                                         class="userAvatar me-2" alt="" />
                                                                    <p class="m-0">@joinReaquest.UserName</p>
                                                                </div>
                                                                <div>
                                                                    <button class="approveButton" onclick="acceptJoinRequest(@joinReaquest.UserId, @team.TeamId)">
                                                                        accept
                                                                    </button>
                                                                    <button class="removeButton ms-2" onclick="declineJoinRequest(@joinReaquest.UserId, @team.TeamId)">
                                                                        decline
                                                                    </button>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

