@using Entities.ViewModels.HomeViewModels;

@model List<TodayTasksViewModel>


<div class="row mt-3 mb-3">
    <div class="col d-flex justify-content-end align-items-center">
        <div class="d-flex justify-content-center align-items-center">
            <a role="button" class="loginButton me-2" style="width:fit-content" asp-action="Index" asp-controller="TeamManagement">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                </svg>
            </a>
            <a role="button" class="btn allTaskButton" asp-action="Index" asp-controller="AllTasks">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="36" fill="currentColor"
                     class="bi bi-list-task" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z" />
                    <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z" />
                    <path fill-rule="evenodd"
                          d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z" />
                </svg>
            </a>
        </div>
    </div>
</div>
<div class="row">

    <!-- Add User Modal -->
    <div class="modal fade" id="AddUserModal" tabindex="-1" aria-labelledby="AddUserModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="border: none;">
                    <h1 class="modal-title fs-5" id="AddUserModalLabel">Create Team</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="AddUser" class="form-label">Add Users</label>
                                <div class="d-flex justify-content-between align-items-center">
                                    <input type="text" class="form-control me-2" id="AddUser"
                                           autocomplete="off" placeholder="Enter Email">
                                    <button type="button" class="addUser">Add</button>
                                </div>
                            </div>
                            <div class="AddedUser">
                                <p class="text-muted m-0">chavdaanand2002@gmail.com</p>
                                <a href="" class="ms-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none;">
                    <div class="mt-4">
                        <a role="button" class="CancelCreateTeamButton" data-bs-dismiss="modal">Cancel</a>
                    </div>
                    <div class="mt-4">
                        <button type="button" class="createTeamButton">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Add Task Modal -->
    <div class="modal fade" id="AddTaskModal" tabindex="-1" aria-labelledby="AddTaskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="border: none;">
                    <h1 class="modal-title fs-5" id="AddTaskModalLabel">Create Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" id="TeamId">
                        <div class="col">
                            <div class="mb-3">
                                <label for="TaskName" class="form-label">Task Name</label>
                                <input type="text" class="form-control me-2" id="TaskName" placeholder="Enter Task Name"
                                       autocomplete="off">
                                <span class="text-danger" id="TaskNameSpan"></span>
                            </div>
                            <div class="mb-3">
                                <label for="TaskDescription" class="form-label">Task Description</label>
                                <textarea class="form-control" id="TaskDescription" rows="2" placeholder="Enter Task Description"></textarea>
                                <span class="text-danger" id="TaskDescriptionSpan"></span>
                            </div>
                            <div class="mb-3 assignedTo">
                                <label for="TaskAssignTo" class="form-label">Assign To</label>
                                <select class="form-select form-control" aria-label="Default select example" id="TaskAssignTo">
                                </select>
                                <span class="text-danger" id="TaskAssignToSpan"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none;">
                    <div class="mt-4">
                        <a role="button" class="CancelCreateTeamButton" data-bs-dismiss="modal">Cancel</a>
                    </div>
                    <div class="mt-4">
                        <button type="button" class="addTaskButton" onclick="addTask()">Add Task</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Task Detail Offcanvas-->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="TaskDetailOffCanvas"
                aria-labelledby="offcanvasRightLabel" style="width: 500px;background-color: #ebebeb;">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel">Task Detail</h5>
                    <button type="button" class="btn-close closeTaskDetailOffCanvas" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-flex align-items-center justify-content-center">
                    <div class="taskDetailContainer">
                        <div class="row">
                            <div class="col">
                                <p class="h4 mb-3" id="TeamNameInOffcanvas">Team Anand</p>
                                <div class="mb-3">
                                    <label for="TaskNameInOffcanvas" class="form-label">Task Name</label>
                                    <input type="text" class="form-control" id="TaskNameInOffcanvas" disabled>
                                </div>
                                <div class="mb-3">
                                    <label for="TaskDescriptionInOffcanvas" class="form-label">Task Description</label>
                                    <textarea class="form-control" id="TaskDescriptionInOffcanvas" disabled style="height: 170px"></textarea>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="StartDateInOffcanvas" class="form-label">Start Date</label>
                                                <input type="date" class="form-control" id="StartDateInOffcanvas" disabled>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="EndDateInOffcanvas" class="form-label">End Date</label>
                                                <input type="date" class="form-control" id="EndDateInOffcanvas" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="isTaskCompletedOrNot">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    @if (Model != null)
    {
        @foreach (var task in Model)
        {
            <div class="col-lg-6 col-12">
                <div class="teamContainer">
                    <div class="row">
                        <div class="col">
                            <div class="col d-flex justify-content-between align-items-center">
                                <p class="teamName m-0">@task.TeamName</p>
                                <div class="d-flex justify-content-start align-items-center">
                                    <button type="button" class="threeDotButton me-2" onclick="getDataForAddTask(@task.TeamId, @task.UserId)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                     fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                          d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <p class="m-0 mt-2 text-muted">Today's Tasks</p>
                            <div class="allTasksContainer">
                                @if (task.TodayTasks.Count() != 0)
                                {
                                    <div class="oneUserTasksContainer mt-3">
                                        <p class="m-0 fs-5">My Tasks</p>
                                        <div class="taskList" style="padding-left: 0px;">
                                            @foreach (var myTasks in task.TodayTasks)
                                            {
                                                <div class="taskContainer">
                                                    <div class="row">
                                                        <div class="col-1 d-flex align-items-center justify-content-center">
                                                            @if (myTasks.IsCompleted == true)
                                                            {
                                                                <button class="btn p-0" onclick="markTaskAsCompleteOrUncomplete(@task.UserId, @task.TeamId, @myTasks.TaskId)" id="Task_@myTasks.TaskId">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                     height="20" fill="currentColor"
                                                     class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                                    </svg>
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn p-0" onclick="markTaskAsCompleteOrUncomplete(@task.UserId, @task.TeamId, @myTasks.TaskId)" id="Task_@myTasks.TaskId">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                     height="20" fill="currentColor"
                                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                                                    </svg>
                                                                </button>
                                                            }
                                                        </div>
                                                        <div class="col-10 taskNameContainer" onclick="openTaskDetailOffcanvas(@myTasks.TaskId)">
                                                            <p class="m-0">@myTasks.TaskName</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            @* <ul class="TaskList">
                                                @foreach (var myTasks in task.TodayTasks)
                                                {
                                                <li>
                                                <div>
                                                <p class="m-0">@myTasks.TaskName</p>
                                                @if (myTasks.IsCompleted == true)
                                                {
                                                <button class="btn p-0" onclick="markTaskAsCompleteOrUncomplete(@task.UserId, @task.TeamId, @myTasks.TaskId)" id="Task_@myTasks.TaskId">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                height="20" fill="currentColor"
                                                class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                </svg>
                                                </button>
                                                }
                                                else
                                                {
                                                <button class="btn p-0" onclick="markTaskAsCompleteOrUncomplete(@task.UserId, @task.TeamId, @myTasks.TaskId)" id="Task_@myTasks.TaskId">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                height="20" fill="currentColor"
                                                class="bi bi-check-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                                </svg>
                                                </button>
                                                }
                                                </div>
                                                </li>
                                                }
                                                </ul>*@
                                        </div>
                                    </div>
                                }
                                @if (task.TeamMembersTaasks.Count() != 0 && task.Role != "TeamMember")
                                {
                                    @foreach (var userTask in task.TeamMembersTaasks)
                                    {
                                        <div class="oneUserTasksContainer mt-3">
                                            <div class="d-flex justify-content-start align-items-center mb-3">
                                                <img src="/images/EmptyProfile.png" class="userAvatar " alt="" />
                                                &nbsp;&nbsp;
                                                <p class="m-0 fs-5">@userTask.UserName</p>
                                            </div>
                                            <div class="taskList">

                                                @foreach (var tasksofUser in userTask.TodayTasks)
                                                {
                                                    <div class="taskContainer">
                                                        <div class="row">
                                                            <div class="col-1 d-flex align-items-center justify-content-center">
                                                                @if (tasksofUser.IsCompleted == true)
                                                                {
                                                                    <button class="btn p-0">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                     height="20" fill="currentColor"
                                                     class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                                        </svg>
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button class="btn p-0">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                     height="20" fill="currentColor"
                                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                                                        </svg>
                                                                    </button>
                                                                }
                                                            </div>
                                                            <div class="col-10 taskNameContainer" onclick="openTaskDetailOffcanvas(@tasksofUser.TaskId)">
                                                                <p class="m-0">@tasksofUser.TaskName</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                                @* <ul class="TaskList">
                                                    @foreach (var tasksofUser in userTask.TodayTasks)
                                                    {
                                                    <li>
                                                    <div>
                                                    <p class="m-0">@tasksofUser.TaskName</p>
                                                    @if (tasksofUser.IsCompleted == true)
                                                    {
                                                    <button class="btn p-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                    height="20" fill="currentColor"
                                                    class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                    </svg>
                                                    </button>
                                                    }
                                                    else
                                                    {
                                                    <button class="btn p-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                    height="20" fill="currentColor"
                                                    class="bi bi-check-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                                    </svg>
                                                    </button>
                                                    }
                                                    </div>
                                                    </li>
                                                    }
                                                    </ul>*@
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<script src="~/js/Home.js"></script>