@using Entities.ViewModels.AllTasksViewModel;

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'UTC',
            initialView: 'dayGridMonth',
            events: [
                {
                    title: 'All Day Event',
                    start: '2023-05-25',
                    end: '2023-05-29'
                },
                {
                    title: 'All Day Event',
                    start: '2023-05-25'
                },
                {
                    title: 'All Day Event',
                    start: '2023-05-26'
                }],
            eventColor: 'rgb(202 202 202)',
            eventTextColor: '#000000',
            editable: false,
            selectable: true
        });
        calendar.render();
    });
</script>

<div class="row mt-3 mb-3">
    <div class="col d-flex justify-content-between align-items-center">
        <div>
            <input class="form-control searchTeam" type="search" placeholder="Search" id="searchTeam" onkeyup="SearchTeams()" aria-label="Search">
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn allTaskButton me-2" id="grid">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
                    <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                </svg>
            </button>
            <button class="btn allTaskButton" id="list">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </button>
        </div>

    </div>
</div>
<div class="row">
    <!-- Add Task Modal -->
    <div class="modal fade" id="AddTaskModal" tabindex="-1" aria-labelledby="AddTaskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="border: none;">
                    <h1 class="modal-title fs-5" id="AddTaskModalLabel">Create Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" id="TeamId">
                        <div class="col">
                            <div class="mb-3">
                                <label for="TaskName" class="form-label">Task Name</label>
                                <input type="text" class="form-control me-2" id="TaskName" placeholder="Enter Task Name"
                                       autocomplete="off">
                                <span class="text-danger" id="TaskNameSpan"></span>
                            </div>
                            <div class="mb-3 assignedTo">
                                <label for="TaskAssignTo" class="form-label">Assign To</label>
                                <select class="form-select form-control" aria-label="Default select example" id="TaskAssignTo">
                                </select>
                                <span class="text-danger" id="TaskAssignToSpan"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none;">
                    <div class="mt-4">
                        <a href="/Login.html" type="button" class="CancelCreateTeamButton">Cancel</a>
                    </div>
                    <div class="mt-4">
                        <button type="button" class="addTaskButton" onclick="AddTask()">Add Task</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 allTeamsContainer">
        @if (Model != null)
        {
            @foreach (var team in Model)
            {
                <div class="teamContainer">
                    <div class="row">
                        <div class="col">
                            <div class="col d-flex justify-content-between align-items-center">
                                <p class="teamName m-0">@team.TeamName</p>
                                <div class="d-flex justify-content-start align-items-center">
                                    <button type="button" class="threeDotButton me-2" data-bs-toggle="modal"
                                    data-bs-target="#AddTaskModal" onclick="GetDataForAddTask(@team.TeamId, @team.UserId)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                                     fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                          d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <p class="m-0 mt-2 text-muted">All Tasks</p>
                            <div class="allTasksContainer">
                                <div class="col-12">
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        @if (team.MyTasks.Count() != 0)
                                        {
                                            <div class="accordion-item accordionItem" style="border-radius: 10px;">
                                                <h2 class="accordion-header">
                                                    <button class="accordion-button collapsed" style="background-color: #ffffff;color: #000000;border-radius: 10px;box-shadow: none;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                        <p class="m-0 fs-5">My Tasks</p>
                                                    </button>
                                                </h2>
                                                <div id="flush-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
                                                        <div class="taskList">
                                                            <ul>
                                                                @foreach (var task in team.MyTasks)
                                                                {
                                                                    <li>
                                                                        <div>
                                                                            <p class="m-0">@task.TaskName</p>
                                                                            <span>
                                                                                @if (task.IsTodayTask != null)
                                                                                {
                                                                                    <button class="btn p-0" onclick="AddTaskToTodayTask(@task.UserId, @task.TeamId, @task.TaskId)" id="task_@task.TaskId">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                                                                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                                                                                        </svg>
                                                                                    </button>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <button class="btn p-0" onclick="AddTaskToTodayTask(@task.UserId, @task.TeamId, @task.TaskId)" id="task_@task.TaskId">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                                                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                                                                                        </svg>
                                                                                    </button>
                                                                                }

                                                                                @if (task.IsCompleted == true)
                                                                                {
                                                                                    <button class="btn p-0" onclick="MarkTaskAsCompleteOrUncomplete(@task.UserId, @task.TeamId, @task.TaskId)" id="Task_@task.TaskId">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                                                        </svg>
                                                                                    </button>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <button class="btn p-0" onclick="MarkTaskAsCompleteOrUncomplete(@task.UserId, @task.TeamId, @task.TaskId)" id="Task_@task.TaskId">
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                                                                        </svg>
                                                                                    </button>
                                                                                }
                                                                            </span>
                                                                        </div>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @if (team.TeamMembersTaasks.Count() != 0)
                                        {
                                            @foreach (var member in team.TeamMembersTaasks)
                                            {
                                                var idCount = 1;
                                                var id = "Member" + idCount;

                                                <div class="accordion-item accordionItem" style="border-radius: 10px;">
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed" style="background-color: #ffffff;color: #000000;border-radius: 10px;box-shadow: none;" type="button" data-bs-toggle="collapse" data-bs-target="#@id" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                            <div class="d-flex justify-content-start align-items-center">
                                                                <img src="@member.Avatar" class="userAvatar " alt="" />
                                                                &nbsp;&nbsp;
                                                                <p class="m-0 fs-5">@member.UserName</p>
                                                            </div>
                                                        </button>
                                                    </h2>
                                                    <div id="@id" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="taskList">
                                                                <ul>
                                                                    @foreach (var task in member.TodayTasks)
                                                                    {
                                                                        <li>
                                                                            <div>
                                                                                <p class="m-0">@task.TaskName</p>
                                                                                <span>
                                                                                    @if (task.IsTodayTask != null)
                                                                                    {
                                                                                        <button class="btn p-0" onclick="AddTaskToTodayTask(@task.UserId, @task.TeamId, @task.TaskId)" id="task_@task.TaskId">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                                                                                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                                                                                            </svg>
                                                                                        </button>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <button class="btn p-0" onclick="AddTaskToTodayTask(@task.UserId, @task.TeamId, @task.TaskId)" id="task_@task.TaskId">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                                                                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                                                                                            </svg>
                                                                                        </button>
                                                                                    }
                                                                                    @if (task.IsCompleted == true)
                                                                                    {
                                                                                        <button class="btn p-0">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                                                            </svg>
                                                                                        </button>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <button class="btn p-0">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                                                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                                                                                            </svg>
                                                                                        </button>
                                                                                    }
                                                                                </span>
                                                                            </div>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <div class="col-12" id="CalenderView">
        <div id='calendar'></div>
    </div>
</div>

<script src="~/js/AllTasks.js"></script>
