@model Entities.ViewModels.TimeSheet.TimeSheetViewModel

@{
    ViewData["Title"] = "Index";
    var projects = ViewBag.ProjectType as Dictionary<string, string>;
}

<div class="teamContainer  mx-auto mt-4 mb-4">
    <div class="fw-bold fs-5 mb-3">
        Submit TimeSheet
    </div>
    <form class="form-sheet d-flex mx-auto justify-content-around align-items-center row" asp-controller="TimeSheet" asp-action="ImportFromExcel" enctype="multipart/form-data">

        <div class="col-5">
            <select class="form-control" asp-for="ProjectType">
                @if (ViewBag.ProjectType != null)
                {
                    <option value="">Select type of project</option>
                    foreach (var item in projects)
                    {
                        <option value="@item.Value">@item.Key</option>
                    }
                }
            </select>
        </div>

        <div class="col-5">
            <input class="form-control form-control-lg fs-6 bg-body-tertiary" asp-for="UploadedFile" type="file" id="formFile" accept=".xls, .xlsx">
            <div id="file-error" class="alert alert-danger p-1 d-none mt-3" role="alert">
                <span class="mx-2">Please upload only XLS or XLSX files.</span>
            </div>
            <span asp-validation-for="UploadedFile" class="text-danger fs-6"></span>
        </div>

        <button class="btn btn-success col-2 p-auto" type="submit">submit</button>

    </form>
</div>


@if (Model.ProjectDocuments != null && Model.ProjectDocuments.Count > 0)
{
    <div class="teamContainer">
        <div class="row">
            <div class="col">
                @foreach (var item in Model.ProjectDocuments)
                {
                <div class="bg-white p-3 rounded-3 mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="fw-bold fs-4">@($"{item.ProjectType} Asana Doc") </div>
                        <div class="d-flex justify-content-center align-items-center gap-4">
                            <a class="fs-4 text-black" asp-action="EditDocument" asp-route-DocumnentId="@item.DocumentId" class="me-4" data-bs-toggle="tooltip" title="Edit" style="text-decoration:none!important"><i class="bi bi-pencil-square"></i></a>
                            <a class="fs-4 text-black" asp-action="GeneratePdf" asp-route-DocumnentId="@item.DocumentId" data-bs-toggle="tooltip" title="Download" style="text-decoration:none!important"><i class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
}


<script src="~/js/TimeSheet.js"></script>
